.right-side {
    text-align: right;
}
.left-side {
    text-align: left;
}

.action-buttons {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: auto;
    padding: 20px;
    text-align: center;
}