{% extends 'base.html' %}

{% block import %}
{% endblock %}

{% block content %}

<form>
    <input type="text" name="name" placeholder="Type a name of the tour...">
    <input type="text" name="description" placeholder="Type a description of the tour...">
    <input type="password" name="price" placeholder="Type a price of the tour...">
    <input type="password" name="time" placeholder="How long...">
    <input type="number" name="people" placeholder="How many people...">
    <input type="submit" value="Edit">
</form>

{% endblock %}