{% extends 'base.html' %}


{% block import %}
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row bg-primary" style="height:27vh">
        <div class="right-side main-color">
            <div class="mt-3">
                {% if not user %}
                    <a href="/registration" class="btn text-primary bg-white">Реєстрація</a>
                    <a href="/login" class="btn text-primary bg-white">Логін</a>
                {% endif %}
                <button type="button" class="btn text-primary bg-white" id="openBasket" data-bs-toggle="modal" data-bs-target="#basketModal" data-url="/basket">
                    Кошик
                </button>
                {% if user.is_admin %}
                <a href="/add_tour" class="btn text-primary bg-white">Додати Тур</a>
                {% endif %}
                <h1 class="center"><b>Ласкаво Просимо До AviaTickets</b></h1>
            </div>
            <div class="left-side mb-5">
                <button class="btn btn-price mb-1 text-primary bg-white" data-price="100" xmlns="http://www.w3.org/1999/html">100$</button>
                <button class="btn btn-price mb-1 text-primary bg-white" data-price="200">200$</button><br>
                <button class="btn btn-price mb-1 text-primary bg-white" data-price="400">400$</button>
                <button class="btn btn-price mb-1 text-primary bg-white" data-price="500">500$</button><br>
                <button class="btn btn-price center text-primary bg-white" data-price="1000">1000$+</button>
            </div>
        </div>
    </div>
    {% if user.is_admin %}
        <a href="/edit_tour">🖌️</a>
        <button id="deleteTour">🗑️</button>
    {% endif %}
    <div id="price-tours" class="center">
        {% for tour in tours %}
            <h6>{{ tour.picture }}</h6>
            <h6>{{ tour.name }}</h6>
            <h6>{{ tour.price }}</h6>
            <h6>{{ tour.description }}</h6>
            <h6>{{ tour.people }} Людей</h6>
        <h6>{{ tour.time }}</h6> <button class="btn btn-primary" id="add_to_basket" data-url="/add_basket/{{ tour.id }}">Додати</button>
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block models %}
<div class="modal fade" id="basketModal" tabindex="-1" aria-labelledby="basketModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="basketModalLabel">Кошик</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="bask">

              {% if message %}
                {{ message }}
              {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
            <button type="button" class="btn btn-primary" id="book">Забронювати</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="/static/js/delete_tour.js"></script>
<script src="/static/js/option.js"></script>
<script src="/static/js/add_basket.js"></script>
<script src="/static/js/basket.js"></script>
<script src="/static/js/book.js"></script>
{% endblock %}