{% extends 'base.html' %}

{% block import %}
{% endblock %}

{% block content %}
<select class="option">
    <option id="TourPeople1">1 People</option>
    <option id="TourPeople2">2 Peoples</option>
    <option id="TourPeople3">3 Peoples</option>
    <option id="TourPeople4">4 Peoples</option>
    <option id="TourPeopleMore">More than 5 Peoples</option>
</select>
    {% for tours in tours%}
    {% endfor %}
<a href="/registration" class="btn btn-danger">Registration</a>
<a href="/login" class="btn btn-danger">Login</a>
{% if user.is_admin %}
    <a href="/add_tour" class="btn btn-danger">Add Tour</a>
{% endif %}


{% endblock %}

{% block models %}
{% endblock %}


{% block scripts %}
<script src="delete_tour.js"></script>
<script src="option.js"></script>
{% endblock %}